<table id="customers">
  <tr>
    <th>kode</th>
    <th>cek tagihan</th>
    
  </tr>
  
  <tr>
    <td>1 TELKOM</td>
    <td>TELKOM NoPEL CEK PIN</td>
    
  </tr>
  <tr>
    <td>2 PLN</td>
    <td>PLN IdPEL CEK PIN</td>
    
  </tr>
  <tr>
    <td>3 PDAM</td>
    <td>PDAM KodeKota IdPEL CEK PIN</td>
    
  </tr>
  <tr>
    <td>4 INDOVISION</td>
    <td>INDOVISION IdPEL CEK PIN</td>
    
  </tr>
  <tr>
    <td>5 BPJSK</td>
    <td>BPJSK IdPEL CEK PIN</td>
    
  </tr>
  <tr>
    <td>6 PGN</td>
    <td>PGN IdPEL CEK PIN</td>
    
  </tr>
  <tr>
    <td>7 ACC</td>
    <td>ACC IdPEL CEK PIN</td>
    
  </tr>
  <tr>
    <td>8 TAF</td>
    <td>TAF IdPEL CEK PIN</td>
   
  </tr>
  <tr>
    <td>9 BAF</td>
    <td>BAF IdPEL CEK PIN</td>
    
  </tr>
</table>    
