
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">



 
  

 
            
  

          



<div class="tg_page_head tg_head_wrap noselect clearfix">
  <div class="tg_head_split">

    <div class="tg_head_logo_wrap">
      <div class="tg_head_logo_dropdown dropdown" dropdown>
        <a class="tg_head_btn dropdown-toggle" dropdown-toggle>
          <div class="icon-hamburger-wrap">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </div><b>Bakolpulsa</b>
        </a>
          

        <ul class="dropdown-menu">
          <li><a ng-click="openGroup()">
            <i class="icon icon-new-group"></i><span my-i18n="im_new_group"></span>
          </a></li><i class="material-icons">show_chart</i><li><a onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-">Paduan</a></i></li>
          <li ng-if="!isEmpty.contacts"><a ng-click="openContacts()">
            <i class="icon icon-contacts"></i><span my-i18n="im_contacts"></span>
          </a></li>
          <li><a ng-click="openSettings()">
            <i class="icon icon-settings"></i><span my-i18n="im_settings"></span>
          </a></li>
          <li><a ng-click="openFaq()">
            <i class="icon icon-faq"></i><span my-i18n="head_telegram_faq"></span>
          </a></li>
          <li><a href="" ng-click="openChangelog()">
            <i class="icon icon-about"></i><span my-i18n="head_about"></span>
          </a></li>
        </ul>
      </div>
    </div>

    <div class="tg_head_main_wrap" ng-switch="offline">
      <div ng-switch-when="true" class="tg_head_connecting_wrap" ng-switch="offlineConnecting">
        <span ng-switch-default class="tg_head_connecting_text"><my-i18n msgid="head_waiting_for_network"></my-i18n><span my-loading-dots></span></span>
        <a ng-switch-default class="tg_head_btn" ng-click="retryOnline()" my-i18n="head_retry"></a>
        <span ng-switch-when="true" class="tg_head_connecting_text"><my-i18n msgid="head_connecting"></my-i18n><span my-loading-dots></span></span>
     </div>

      <div ng-switch-default ng-if="!!historyPeer.id" class="tg_head_main_peer_wrap">

        <div class="tg_head_peer_dropdown tg_head_peer_media_dropdown dropdown" dropdown>
          <a class="tg_head_btn dropdown-toggle" dropdown-toggle>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a ng-click="toggleEdit()" my-i18n="head_select_messages"></a></li>
            <li class="divider ng-scope"></li>
            <li><a ng-click="toggleMedia('photos')" my-i18n="head_media_photos"></a></li>
            <li><a ng-click="toggleMedia('video')" my-i18n="head_media_video"></a></li>
            <li><a ng-click="toggleMedia('documents')" my-i18n="head_media_documents"></a></li>
            <li><a ng-click="toggleMedia('audio')" my-i18n="head_media_audio"></a><hr/></li><li><button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black">Paduan</button></li>
          </ul>
        </div>
        <a class="tg_head_btn tg_head_peer_search_btn" ng-click="toggleMedia('search')">
          <i class="icon icon-search"></i>
        </a>
        <a class="tg_head_btn tg_head_peer_return_btn" ng-show="historyFilter.mediaType.length || historyState.skipped" ng-click="returnToRecent()" ng-switch="historyState.skipped">
          <span ng-switch-when="true" my-i18n="im_show_recent_messages"></span>
          <span ng-switch-default my-i18n="im_show_all_messages"></span>
          <strong class="tg_head_peer_return_count" ng-show="historyState.missedCount > 0" ng-bind="'+' + historyState.missedCount"></strong>
        </a>

        <div class="tg_head_peer_title_wrap" ng-switch="historyFilter.mediaType">
          <div class="tg_head_peer_media" ng-switch-when="photos">
            <i class="icon icon-filter-photos"></i><span my-i18n="im_media_photos"></span>
          </div>
          <div class="tg_head_peer_media" ng-switch-when="video">
            <i class="icon icon-filter-video"></i><span my-i18n="im_media_video"></span>
          </div>
          <div class="tg_head_peer_media" ng-switch-when="documents">
            <i class="icon icon-filter-documents"></i><span my-i18n="im_media_documents"></span>
          </div>
          <div class="tg_head_peer_media" ng-switch-when="audio">
            <i class="icon icon-filter-audio"></i><span my-i18n="im_media_audio"></span><hr/>Paduan
          </div>

          <a class="tg_head_btn" ng-switch-default ng-click="showPeerInfo()">
            <div class="tg_head_peer_info">
              <span class="tg_head_peer_title" my-peer-link="historyPeer.id" peer-watch="true" dir="auto"></span>
              <span class="tg_head_peer_status" ng-switch="historyPeer.id > 0">
                <span ng-switch-when="true" my-user-status="historyPeer.id"></span>
                <span ng-switch-default my-chat-status="-historyPeer.id"></span>
              </span>
            </div>
          </a>

        </div>

      </div>
    
  </div> <div id="id01" class="w3-modal">
    <div class="w3-modal-content">
      <div class="w3-container">
        <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
        <p>Some text. Some text. Some text.</p>
        <p>
Kode Voucher	Keterangan	Harga
 AXIRITB7

AXIS BB IRIT BASIC, 7hr

8,100

 AXIRITB30

AXIS BB IRIT BASIC, 30hr

27,200

 AXIRITF7

AXIS BB IRIT FUN, 7hr

12,100

 AXIRITF30

AXIS BB IRIT FUN, 30hr

45,200

 AXIRITF90

AXIS BB IRIT FUN, 90hr

63,200

 AXIRITP7

AXIS BB IRIT PRO, 7hr

18,100

 AXIRITP30

AXIS BB IRIT PRO, 30hr

63,200

 AXBRO32

AXIS BRONET Rp34900, 60hr, 3GB 1,5 GB (00-06) +1,5 GB (00-23.59)

32,200

 AXBRO36

AXIS BRONET Rp39800, 60hr, 3GB, 24Jam

37,000

 AXBRO45

AXIS BRONET Rp49900, 60hr, 5GB 2,5 GB (00-06) + 2,5 GB (00-23.59)

45,200

 AXBRO54

AXIS BRONET Rp59800, 60hr, 5GB, 24Jam

58,000

 AXBRO17

AXIS Bronet Rp14900, 30hr, 1GB 500 MB (00-06) + 500 MB (00-23.59)

15,100

 AXBRO20

AXIS Bronet Rp18800, 30hr, 1GB 24Jam

21,000

 AXBRO31

AXIS Bronet Rp28800, 60hr, 2GB, 24Jam

28,000

 AXBRO27

AXIS Bronet Rp29900, 60hr, 2GB 1 GB (00-06) + 1 GB (00-23.59)

22,700

 AXBRO7

AXIS Bronet Rp6900, 7hr, 300MB 150 MB (00-06) + 150 MB (00-23.59)

7,100

 AXBRO247

AXIS Bronet Rp9800, 7hr, 300MB 24Jam

10,000

 AX5

Axis

5,550

 AX10

Axis

10,550

 AX25

Axis

24,800

 AX50

Axis

49,450

 AX100

Axis

98,700

 AX200

Axis

197,250

 AXAGB

Axis Internet Gaul Unlimited Bulanan 30hr

31,200

 AXAGM

Axis Internet Gaul Unlimited Mingguan 7hr

10,100

 AXJ5

Axis Jatim

5,600

 AXJ10

Axis Jatim

10,600

 AXJ25

Axis Jatim

24,800

 AXJ50

Axis Jatim

49,450

 AXJ100

Axis Jatim

98,700

 AXJ200

Axis Jatim

197,250

 AXN5

Axis Nasional

5,600

 AXN10

Axis Nasional

10,600

 AXN25

Axis Nasional

24,800

 AXN50

Axis Nasional

49,450

 AXN100

Axis Nasional

98,700

 AXN200

Axis Nasional

197,250

 AXKZLCS

Axis Paket KZL Chat+Sosmed,30hr,Rp19900

20,100

 AXKZLC

Axis Paket KZL Chat,30hr,Rp14900

15,100

 AXKZLM

Axis Paket KZL Musik,30hr,Rp14900

15,100

 AXKZLS

Axis Paket KZL Sosmed,30hr,Rp14900

15,100

 BO25

Bolt

24,600

 BO50

Bolt

49,000

 BO100

Bolt

98,000

 BO150

Bolt

147,000

 BO200

Bolt

196,000

 BD29

Bolt Data kuota 1,5GB

28,500

 BD49

Bolt Data kuota 3GB

48,000

 BD99

Bolt Data kuota 8GB

96,700

 BD149

Bolt Data kuota 13GB

145,250

 BD199

Bolt Data kuota 17GB

194,000

 C50

Ceria

46,200

 C100

Ceria

92,200

 EM20

E-MONEY MANDIRI

20,500

 EM25

E-MONEY MANDIRI

25,500

 EM50

E-MONEY MANDIRI

50,500

 EM75

E-MONEY MANDIRI

75,500

 EM100

E-MONEY MANDIRI

100,750

 EM150

E-MONEY MANDIRI

150,750

 GO10

GOPAY

10,500

 GO20

GOPAY

20,500

 GO25

</p>
      </div>
    </div>
  </div>
</div>
</div>
